<h3>Coming up</h3>

<ol class="events h-feed">
  {% for event in site.events %}
    <li class="h-event lighter-bg trans">
      <p class="wee align-right unpad"><time class="dtstart" datetime="{{ event.date | date_to_xmlschema }}">{{ event.date }}</time></p>
      <h4 class="p-name">{{ event.title }}</h4>
      <p class="p-summary e-content">{{ event.content }}</p>
      <p class="p-location"><em>{{ event.location }}</em></p>
      <p class="color1 align-right unpad"><strong>{{ event.cost }}</strong></p>
    </li>
  {% endfor %}
</ol>

<p class="lighter-bg trans btn-big"><a href="https://www.google.com/calendar/embed?src=g94b12ho3h76inp0heq1el8u8g%40group.calendar.google.com&ctz=Europe/London">Calendar</a></p>