<div id="mc_embed_signup">
    <p>To stay up to date, join our mailing list.</p>
    <!-- Begin MailChimp Signup Form -->
    <div id="mc_embed_signup">
    <form action="http://edinburghsocietea.us6.list-manage1.com/subscribe/post?u=4c7bc380ebf108b6d1a9b0e38&amp;id=ef03a86a51" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div class="mc-field-group">
        <label for="mce-EMAIL">Email Address </label>
        <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
    </div>
        <div id="mce-responses" class="clear">
            <div class="response" id="mce-error-response" style="display:none"></div>
            <div class="response" id="mce-success-response" style="display:none"></div>
        </div>  <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </form>
    </div>

    <!--End mc_embed_signup-->

</div>