<div class="wrapper clearfix">
  <div class="w1of4"><p></p></div>
  <div class="w3of4"><div class="inner">
      <h3>We're grateful for support from</h3>
      <p>
          <a href="http://eusa.ed.ac.uk" class="inner"><img src="img/s_eusa.png" alt="Edinburgh University Students' Associatoin (EUSA)" /></a>
          <a href="http://anteaques.co.uk" class="inner"><img src="img/s_anteaques.png" alt="Anteaques" /></a>
          <a href="http://eteaket.co.uk" class="inner"><img src="img/s_eteaket.png" alt="Eteaket" /></a>
      </p>
      <p>
          <a href="http://pekoetea.co.uk" class="inner"><img src="img/s_pekoe.png" alt="Pekoe Tea" /></a>
          <span class="inner"><a href="http://www.betterbeverage.co.uk/">The Better Beverage Company</a></span>
      </p>
  </div></div>
</div>